.place-order{
  display: flex;
  row-gap: 0px;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 150px;
}
.cart{
  .cart-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}