.app-layout {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    .header-links {
      width: 200px;
    }
  }
  .header-logo {
    display: flex;
    height: 64px;
    padding: 10px 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .site-layout {
    padding: 50px 50px 0px 50px;
    margin-top: 64px;
    .site-layout-background {
      background: #fff;
      padding: 24px;
      height: calc(100vh - 184px);
      overflow: auto;
      .site-page-header {
        padding: 0px 24px;
      }
    }
  }
  .footer {
    text-align: center;
  }
}