.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content {
    h1 {
      font-size: 70px;
      font-family: Cursive;
      color: black;
    }
    p {
      font-size: 40px;
      margin-left: 60px;
      color: black;
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 230px;
      margin-bottom: 40px;
    }
  }
}
